$color-white: #ffffff;
$color-black: #2c2738;

// Blue
$color-blue-light: #00aeef;
$color-blue-bold: #14162b;

// Green
$color-green-bold: #009245;

// Red
$color-red-bold: #e91c13;

// Yellow
$color-yellow-bold: #f7c911;