$color-white: #ffffff;
$color-black: #2c2738;

// Blue
$color-blue-light: #9cb4d8;
$color-blue-bold: #151a2f;
$color-blue: #39425f;
// Green
$color-green-bold: #009245;

// Red
$color-red-bold: #e91c13;

// Yellow
$color-yellow-bold: #f7c911;
