$color-white: #ffffff;
$color-black: #2c2738;
$color-black-bold: #000000;

$app-background: linear-gradient(to top, #2e2e2e, #000000);
$yellow-gradient: linear-gradient(to right, #f2ca30, #ff7619);
$grey-background: #454545;

// Blue
$color-blue-light: #9cb4d8;
$color-blue-bold: #151a2f;
$color-blue: #39425f;
// Green
$color-green-bold: #009245;

// Red
$color-red-bold: #e91c13;

// Yellow
$color-yellow: #fbb03b;
$color-yellow-bold: #f7c911;

// Grey
$color-grey-light: #a1a1a1;