@import "src/sass/import";

.max-height {
  height: 500px;
  max-height: 500px;
  overflow-y: auto;
  @include flexbox(flex, row, wrap, flex-start, flex-start, flex-start);
}

.form-control {
  text-transform: none;
  padding: 1rem;
  @include fonte($color-white, "Poppins", 1rem, normal);
}

.section-wrapper {
  fa-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  .date {
    position: absolute;
    bottom: 8px;
    right: 8px;
    @include fonte($color-grey-light, "Poppins", 0.8rem, 300);
  }
}

.submit {
  border: none;
  padding: 8px 2rem;
  background: $grey-background;
  cursor: pointer;
  @include fonte($color-white, "Poppins", 1rem, 500);
  &:disabled {
    cursor: inherit;
    opacity: .4;
  }
}
