@import "src/sass/import";

.socialWrapper {
  margin: 1rem;
  @include flexbox(flex, row, nowrap, center, center, center);
}
.roundedDiv {
  border: 1px solid #f2ca30;
  width: 75px;
  height: 75px;
  @include border-radius(50%);
  @include flexbox(flex, row, nowrap, center, center, center);
  fa-icon {
    font-size: 2rem;
    color: #f2ca30
  }
  img {
    width: 28px;
  }
  &.disabled{
    border: 1px solid #a6a6a6;
    fa-icon {
      font-size: 2rem;
      color: #a6a6a6
    }
  }
}
p {
  margin: 0 8px;
}
