<h5>Redes</h5>

<div class="row justify-content-center">
  <ng-container *ngFor="let socialNetwork of socialNetworkCount | slice:0:10">
    <div class="socialWrapper" placement="top" [ngbTooltip]="socialNetwork.name">
      <div class="roundedDiv" [ngClass]="{'disabled': getPercentage(socialNetwork.total) === 0}">
        <fa-icon *ngIf="getSocialNetworkIcon(socialNetwork.name) !== faQuestion"
          [icon]="getSocialNetworkIcon(socialNetwork.name)"></fa-icon>
        <img [src]="imagePath(socialNetwork.name, getPercentage(socialNetwork.total) === 0)" [alt]="socialNetwork.name"
          *ngIf="getSocialNetworkIcon(socialNetwork.name) === faQuestion" />
      </div>
      <p>{{ getPercentage(socialNetwork.total) | number}}%</p>
    </div>
  </ng-container>
</div>