@import "src/sass/import";

.pie-total {
  @include fonte($color-white, "Poppins", 1.1rem, normal);
  span {
    color: #a6a6a6;
  }
}
.pie-group {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  @include flexbox(flex, row, nowrap, center, flex-end, center);
}