<form [formGroup]="filterForm">
  <div class="private-wrapper">

    <div class="header-wrapper row">
      <div class="col-xl-1">
        <img class="w-100" src="assets/logo.png" alt="SQI Logo" />
      </div>

      <div class="col">
        <div class="form-group mb-0">
          <select class="form-control">
            <option>Candidato</option>
          </select>
        </div>
      </div>

      <ng-container>
        <div class="col">
          <div class="form-group mb-0">
            <input placeholder="Data" class="form-control" (click)="d.toggle()" [value]="parseDate()" readonly />
          </div>
          <input class="date" (dateSelect)="onDateSelection($event)" ngbDatepicker #d="ngbDatepicker"
            [autoClose]="'outside'" [dayTemplate]="t" [displayMonths]="1" [navigation]="'arrows'" />
        </div>
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
      </ng-container>

      <div class="col">
        <div class="form-group mb-0">
          <div ngbDropdown>
            <input placeholder="Gênero" class="form-control" id="genderDropdown" ngbDropdownToggle readonly />
            <div class="p-4" ngbDropdownMenu aria-labelledby="genderDropdown">
              <ng-container *ngFor="let gender of genderList">
                <div class="d-flex align-items-center mr-3">
                  <input [id]="gender.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'gender', value: gender.name })"
                    (change)="selectionChange($event, { name: 'gender', value: gender.name })" />
                  <label [for]="gender.name" class="mb-0">{{gender.name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-0">
          <div ngbDropdown>
            <input placeholder="Faixa etária" class="form-control" id="ageDropdown" ngbDropdownToggle readonly />
            <div class="p-4" ngbDropdownMenu aria-labelledby="ageDropdown">
              <ng-container *ngFor="let age of ageList">
                <div class="d-flex align-items-center mr-3">
                  <input [id]="age.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'age', value: age.name })"
                    (change)="selectionChange($event, { name: 'age', value: age.name })" />
                  <label [for]="age.name" class="mb-0">{{age.name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-0">
          <div ngbDropdown>
            <input placeholder="Rede" class="form-control" id="networkDropdown" ngbDropdownToggle readonly />
            <div class="p-4" ngbDropdownMenu aria-labelledby="networkDropdown">
              <ng-container *ngFor="let socialNetwork of socialNetworkList">
                <div class="d-flex align-items-center mr-3">
                  <input [id]="socialNetwork.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'socialNetwork', value: socialNetwork.name })"
                    (change)="selectionChange($event, { name: 'age', value: socialNetwork.name })" />
                  <label [for]="socialNetwork.name" class="mb-0">{{socialNetwork.name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-0">
          <div ngbDropdown>
            <input placeholder="Sentimento" class="form-control" id="sentimentDropdown" ngbDropdownToggle readonly />
            <div class="p-4" ngbDropdownMenu aria-labelledby="sentimentDropdown">
              <ng-container *ngFor="let sentiment of sentimentList">
                <div class="d-flex align-items-center mr-3">
                  <input [id]="sentiment.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'sentiment', value: sentiment.name })"
                    (change)="selectionChange($event, { name: 'sentiment', value: sentiment.name })" />
                  <label [for]="sentiment.name" class="mb-0">{{sentiment.name}}</label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div ngbDropdown>
          <label for="othersDropdown">Outros</label>
          <input class="form-control" id="othersDropdown" ngbDropdownToggle readonly />
          <div class="min-width" ngbDropdownMenu aria-labelledby="othersDropdown">
            <div class="d-flex">
              <div class="col-xl-6">
                <h5>Redes</h5>
                <div class="d-flex flex-wrap mb-3">
                  <ng-container *ngFor="let socialNetwork of socialNetworkList">
                    <div class="d-flex align-items-center mr-3">
                      <input [id]="socialNetwork.name" type="checkbox" class="mr-2"
                        [checked]="selectionChecked({ name: 'socialNetwork', value: socialNetwork.name })"
                        (change)="selectionChange($event, { name: 'socialNetwork', value: socialNetwork.name })" />
                      <label [for]="socialNetwork.name" class="mb-0">{{socialNetwork.name}}</label>
                    </div>
                  </ng-container>
                </div>
                <h5>Posicionamento Político</h5>
                <div class="d-flex flex-wrap mb-3">
                  <ng-container *ngFor="let position of positioningList">
                    <div class="d-flex align-items-center mr-3">
                      <input type="checkbox" [id]="'posicionamento'+position.name"
                        [checked]="selectionChecked({ name: 'politicalPos', value: position.name })"
                        (change)="selectionChange($event, { name: 'politicalPos', value: position.name })"
                        class="mr-2" />
                      <label [for]="'posicionamento'+position.name" class="mb-0">{{position.name}}</label>
                    </div>
                  </ng-container>
                </div>
                <h5>Menções</h5>
                <div class="d-flex flex-wrap mb-3">
                  <ng-container *ngFor="let sentiment of sentimentList">
                    <div class="d-flex align-items-center mr-3">
                      <input type="checkbox" [id]="'mencoes'+sentiment.name"
                        [checked]="selectionChecked({ name: 'mentions', value: sentiment.name })"
                        (change)="selectionChange($event, { name: 'mentions', value: sentiment.name })" class="mr-2" />
                      <label [for]="'mencoes'+sentiment.name" class="mb-0">{{sentiment.name}}</label>
                    </div>
                  </ng-container>
                </div>
              </div>

              <div class="col-xl-6">

                <h5>Principais assuntos</h5>
                <div class="d-flex flex-wrap mb-3">
                  <ng-container *ngFor="let subject of subjectList">
                    <div class="d-flex align-items-center">
                      <input type="checkbox" [id]="subject.name"
                        [checked]="selectionChecked({ name: 'subjects', value: subject.name })"
                        (change)="selectionChange($event, { name: 'subjects', value: subject.name })" class="mr-2" />
                      <label [for]="subject.name" class="mb-0">{{subject.name}}</label>
                    </div>
                  </ng-container>
                </div>

                <h5>Grupos</h5>
                <div class="d-flex flex-wrap mb-3">
                  <ng-container *ngFor="let group of groupList">
                    <div class="d-flex align-items-center mr-3">
                      <input type="checkbox" [id]="group.name"
                        [checked]="selectionChecked({ name: 'groups', value: group.name })"
                        (change)="selectionChange($event, { name: 'groups', value: group.name})" class="mr-2" />
                      <label [for]="group.name" class="mb-0">{{group.name}}</label>
                    </div>
                  </ng-container>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-group mb-0">
          <input placeholder="Buscar..." class="form-control" formControlName="content" />
        </div>
      </div>

      <div class="user-wrapper">
        <div ngbDropdown>
          <fa-icon class="mx-3" [icon]="faBars" id="menuDropdown" ngbDropdownToggle></fa-icon>
          <div ngbDropdownMenu aria-labelledby="menuDropdown">
            <button routerLink="qualitativo" ngbDropdownItem>Análise qualitativa</button>
            <button routerLink="publico" ngbDropdownItem>Análise do público</button>
            <button routerLink="perfil" ngbDropdownItem>Perfil político</button>
            <button routerLink="wordcloud" ngbDropdownItem>Wordcloud</button>
            <button routerLink="mencoes" ngbDropdownItem>Menções</button>
            <button routerLink="dados-proprietarios" ngbDropdownItem>Dados proprietário</button>
            <button routerLink="insights" ngbDropdownItem>Insights</button>
          </div>
        </div>
        <img src="https://picsum.photos/200" alt="User Photo" />
      </div>

    </div>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

  </div>
</form>