<form [formGroup]="filterForm">
  <div class="private-wrapper">

    <div class="header-wrapper">
      <div>
        <img src="assets/logo.png" alt="SQI Logo" />
      </div>

      <div>
        <div class="form-group mb-0">
          <div ngbDropdown #candidateDropdown="ngbDropdown">
            <button [ngClass]="{'open': candidateDropdown.isOpen()}" class="filterBtn" id="candidateDropdown"
              ngbDropdownToggle readonly> Candidato </button>
            <div ngbDropdownMenu aria-labelledby="candidateDropdown">
              <!-- <ng-container *ngFor="let gender of genderList">
                <div class="filter-item"
                  [ngClass]="{'active': selectionChecked({ name: 'gender', value: gender.name })}">
                  <input [id]="gender.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'gender', value: gender.name })"
                    (change)="selectionChange($event, { name: 'gender', value: gender.name })" />
                  <label [for]="gender.name" class="mb-0">
                    <fa-icon [icon]="getGenderIcon(gender.name)"></fa-icon>
                    {{gender.name}}
                  </label>
                </div>
              </ng-container> -->
            </div>
          </div>
        </div>
      </div>

      <ng-container>
        <div class="position-relative">
          <div class="form-group mb-0">
            <button [ngClass]="{'open': d.isOpen()}" class="filterBtn" id="groupsDropdown" (click)="d.toggle()"
              readonly> Data </button>
          </div>
          <input class="date" (dateSelect)="onDateSelection($event)" ngbDatepicker #d="ngbDatepicker"
            [autoClose]="'outside'"  [footerTemplate]="footerTemplate" [dayTemplate]="t" [displayMonths]="1" [navigation]="'arrows'" />
        </div>
        <ng-template #t let-date let-focused="focused">
          <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
            {{ date.day }}
          </span>
        </ng-template>
        <ng-template #footerTemplate>
          <div class="datepicker-footer">
            <button (click)="setCustomDays(7)">7 dias</button>
            <button (click)="setCustomDays(14)">14 dias</button>
            <button (click)="setCustomDays(30)">30 dias</button>
          </div>
        </ng-template>
      </ng-container>

      <div>
        <div class="form-group mb-0">
          <div ngbDropdown #genderDropdown="ngbDropdown">
            <button [ngClass]="{'open': genderDropdown.isOpen()}" class="filterBtn" id="genderDropdown"
              ngbDropdownToggle readonly> Gênero </button>
            <div ngbDropdownMenu aria-labelledby="genderDropdown">
              <ng-container *ngFor="let gender of genderList">
                <div class="filter-item"
                  [ngClass]="{'active': selectionChecked({ name: 'gender', value: gender.name })}">
                  <input [id]="gender.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'gender', value: gender.name })"
                    (change)="selectionChange($event, { name: 'gender', value: gender.name })" />
                  <label [for]="gender.name" class="mb-0">
                    <fa-icon [icon]="getGenderIcon(gender.name)"></fa-icon>
                    {{gender.name}}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group mb-0">
          <div ngbDropdown #ageDropdown="ngbDropdown">
            <button [ngClass]="{'open': ageDropdown.isOpen()}" class="filterBtn" id="ageDropdown" ngbDropdownToggle
              readonly> Faixa etária </button>
            <div ngbDropdownMenu aria-labelledby="ageDropdown">
              <ng-container *ngFor="let age of ageList">
                <div class="filter-item" [ngClass]="{'active': selectionChecked({ name: 'age', value: age.name })}">
                  <input [id]="age.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'age', value: age.name })"
                    (change)="selectionChange($event, { name: 'age', value: age.name })" />
                  <label [for]="age.name" class="mb-0">
                    <fa-icon [icon]="getAgeIcon(age.name)"></fa-icon>
                    {{age.name}}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group mb-0">
          <div ngbDropdown #networkDropdown="ngbDropdown">
            <button [ngClass]="{'open': networkDropdown.isOpen()}" class="filterBtn" id="networkDropdown"
              ngbDropdownToggle readonly> Rede </button>
            <div ngbDropdownMenu aria-labelledby="networkDropdown">
              <ng-container *ngFor="let socialNetwork of socialNetworkList">
                <div class="filter-item"
                  [ngClass]="{'active': selectionChecked({ name: 'socialNetwork', value: socialNetwork.name })}">
                  <input [id]="socialNetwork.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'socialNetwork', value: socialNetwork.name })"
                    (change)="selectionChange($event, { name: 'socialNetwork', value: socialNetwork.name })" />
                  <label [for]="socialNetwork.name" class="mb-0">
                    <fa-icon [icon]="getSocialNetworkIcon(socialNetwork.name)"></fa-icon>
                    {{socialNetwork.name}}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group mb-0">
          <div ngbDropdown #sentimentDropdown="ngbDropdown">
            <button [ngClass]="{'open': sentimentDropdown.isOpen()}" class="filterBtn" id="sentimentDropdown"
              ngbDropdownToggle readonly> Sentimento </button>
            <div ngbDropdownMenu aria-labelledby="sentimentDropdown">
              <ng-container *ngFor="let sentiments of sentimentList">
                <div class="filter-item"
                  [ngClass]="{'active': selectionChecked({ name: 'sentiments', value: sentiments.name })}">
                  <input [id]="sentiments.name" type="checkbox" class="mr-2"
                    [checked]="selectionChecked({ name: 'sentiments', value: sentiments.name })"
                    (change)="selectionChange($event, { name: 'sentiments', value: sentiments.name })" />
                  <label [for]="sentiments.name" class="mb-0">
                    <fa-icon [icon]="getSentimentIcon(sentiments.name)"></fa-icon>
                    {{sentiments.name}}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group mb-0">
          <div ngbDropdown #politicalPosDropdown="ngbDropdown">
            <button [ngClass]="{'open': politicalPosDropdown.isOpen()}" class="filterBtn" id="politicalPosDropdown"
              ngbDropdownToggle readonly> Posicionamento político
            </button>
            <div ngbDropdownMenu aria-labelledby="politicalPosDropdown">
              <ng-container *ngFor="let position of positioningList">
                <div class="filter-item"
                  [ngClass]="{'active': selectionChecked({ name: 'politicalPos', value: position.name })}">
                  <input type="checkbox" [id]="'posicionamento'+position.name"
                    [checked]="selectionChecked({ name: 'politicalPos', value: position.name })"
                    (change)="selectionChange($event, { name: 'politicalPos', value: position.name })" class="mr-2" />
                  <label [for]="'posicionamento'+position.name" class="mb-0">

                    {{position.name}}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group mb-0">
          <div ngbDropdown #subjectsDropdown="ngbDropdown">
            <button [ngClass]="{'open': subjectsDropdown.isOpen()}" class="filterBtn" id="groupsDropdown"
              ngbDropdownToggle readonly> Principais assuntos </button>
            <div ngbDropdownMenu aria-labelledby="subjectsDropdown">
              <ng-container *ngFor="let subject of subjectList">
                <div class="filter-item"
                  [ngClass]="{'active': selectionChecked({ name: 'subjects', value: subject.name })}">
                  <input type="checkbox" [id]="subject.name"
                    [checked]="selectionChecked({ name: 'subjects', value: subject.name })"
                    (change)="selectionChange($event, { name: 'subjects', value: subject.name })" class="mr-2" />
                  <label [for]="subject.name" class="mb-0">

                    {{subject.name}}
                  </label>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group mb-0">
          <div ngbDropdown #groupsDropdown="ngbDropdown">
            <button [ngClass]="{'open': groupsDropdown.isOpen()}" class="filterBtn" id="groupsDropdown"
              ngbDropdownToggle readonly> Grupos </button>
            <div ngbDropdownMenu aria-labelledby="groupsDropdown">
              <div class="d-flex flex-wrap mb-3">
                <ng-container *ngFor="let group of groupList">
                  <div class="filter-item"
                    [ngClass]="{'active': selectionChecked({ name: 'groups', value: group.name })}">
                    <input type="checkbox" [id]="group.name"
                      [checked]="selectionChecked({ name: 'groups', value: group.name })"
                      (change)="selectionChange($event, { name: 'groups', value: group.name})" class="mr-2" />
                    <label [for]="group.name" class="mb-0">

                      {{group.name}}
                    </label>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="user-wrapper">
        <div ngbDropdown>
          <fa-icon class="mx-3" [icon]="faBars" id="menuDropdown" ngbDropdownToggle></fa-icon>
          <div ngbDropdownMenu aria-labelledby="menuDropdown">
            <button routerLink="qualitativo" ngbDropdownItem>Análise qualitativa</button>
            <button routerLink="publico" ngbDropdownItem>Análise do público</button>
            <button routerLink="perfil" ngbDropdownItem>Perfil político</button>
            <button routerLink="wordcloud" ngbDropdownItem>Wordcloud</button>
            <button routerLink="mencoes" ngbDropdownItem>Menções</button>
            <button routerLink="dados-proprietarios" ngbDropdownItem>Dados proprietário</button>
            <button routerLink="insights" ngbDropdownItem>Insights</button>
          </div>
        </div>
      </div>

    </div>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>

  </div>
</form>