@import "src/sass/import";

::ng-deep {
  .min-width {
    width: 600px;
    right: 0 !important;
    left: initial !important;
  }
  .dropdown-menu {
    background: $grey-background;
    padding: 1rem 0;
    min-width: 100%;
    width: max-content;
    max-width: 400px;
    margin-top: 1rem;
    border: none;
    @include border-radius(1rem);
    @include fonte($color-white, "Poppins", 1rem, normal);
  }
}
.private-wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  background: $app-background;
  @include fonte($color-white, "Poppins;", 1rem, normal);

  .header-wrapper {
    @include flexbox(flex, row, wrap, space-between, center, center);
    img {
      max-width: 100px;
    }

    .date {
      width: 0;
      height: 0;
      visibility: hidden !important;
      display: none;
    }

    [for="othersDropdown"] {
      position: absolute;
      top: 8px;
      left: 12px;
      color: $color-white;
      margin: 0;
      text-transform: uppercase;
      z-index: 1;
    }

    #othersDropdown {
      position: relative;
    }

    .user-wrapper {
      max-height: 40px;
      background: $grey-background;
      @include border-radius(50px);
      @include flexbox(flex, row, wrap, center, center, center);

      .dropdown-item {
        color: $color-white !important;
        &:hover {
          background: $color-white;
          color: $color-black !important;
        }
      }

      fa-icon {
        font-size: 1.5rem;
        color: $color-white;
        cursor: pointer;
      }

      img {
        width: 50px;
        height: 50px;
        @include border-radius(50%);
      }
    }
  }
}

.content-wrapper {
  padding: 40px 0;
}

.custom-day {
  text-align: center;
  font-size: 14px !important;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background: rgba($color-black-bold, .3) !important;
  color: $color-yellow-bold;
}
.custom-day.range,
.custom-day:hover {
  background: rgba($color-black-bold, .3);
  color: $color-yellow-bold;
}
.custom-day.faded {
  background: rgba($color-black-bold, .3);
  color: $color-yellow-bold;
}
::ng-deep {
  ngb-datepicker {
    border: none !important;
    top: 40px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
  }
  .ngb-dp-day {
    margin: 5px;
    &.ngb-dp-today {
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: rgba($color-black-bold, .3);
      border-radius: 50%;
    }
  }
  .ngb-dp-day.disabled {
    color: rgba(black, 0.4);
  }
  .ngb-dp-months {
    padding: 15px;
  }
  .ngb-dp-header {
    background: $grey-background !important;
    .btn-link {
      color: black !important;
      font-size: 14px !important;
      .ngb-dp-navigation-chevron {
        height: 0.4em;
        width: 0.4em;
      }
    }
  }
  .ngb-dp-month-name {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 14px !important;
    text-transform: capitalize;
    background: $grey-background !important;
  }
  .ngb-dp-weekdays {
    justify-content: space-around;
    background: $grey-background !important;
    color: $color-white;
    .ngb-dp-weekday {
      background: $grey-background;
      color: $color-white;
    }
  }
}
