/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "src/sass/import";

* {
  font-family: "Poppins", sans-serif;
}

.filterBtn,
.form-control {
  min-width: max-content;
  padding: 8px 12px;
  position: relative;
  text-transform: uppercase;
  background: $grey-background !important;
  border: none;
  @include fonte($color-white, "Poppins", 1rem, normal);
  @include border-radius(2rem);
  &::placeholder {
    text-transform: uppercase;
    @include fonte($color-white, "Poppins", 1rem, normal);
  }
  &[readonly]::placeholder {
    text-transform: uppercase;
    @include fonte($color-white, "Poppins", 1rem, normal);
  }

  &.selected {
    background: grey !important;
  }
  span {
    padding: .3rem;
    background: rgba($color-black-bold, .3);
    @include fonte($color-white, "Poppins", .8rem, 300);
  }
}

.filter-item {
  padding: 8px 12px;
  cursor: pointer;
  width: 100%;
  @include fonte($color-grey-light, "Poppins", 1rem, bold);
  @include flexbox(flex, flex, nowrap, flex-start, center, center);
  label {
    cursor: pointer;
    fa-icon {
      margin-right: 8px;
    }
  }
  &:hover {
    background: rgba($color-black-bold, .3);
    @include fonte($color-yellow, "Poppins", 1rem, bold);
  }
  &.active {
    background: rgba($color-black-bold, .3);
    @include fonte($color-yellow, "Poppins", 1rem, bold);
  }
  input {
    display: none;
  }
  img {
    width: 25px;
    height: 25px;
    @include border-radius(50%);
  }
}
