<h2>Menções</h2>

<div class="row">
  <div class="col-xl-3 p-0">
    <div class="section-wrapper">

      <h5>INFLUENCIADORES</h5>
      <div class="list-wrapper">

        <ng-container *ngFor="let influencer of influencersList">
          <div class="influencer-wrapper my-4">
            <img [src]="influencer.photo" [alt]="influencer.name+' foto'">
            <div class="influence-info">
              <div class="d-flex justify-content-between">
                <p>{{influencer.name}}</p>
              </div>
              <div class="d-flex align-items-center">
                <div class="icon-wrapper">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </div>
                <span>116</span>
              </div>
            </div>
          </div>
          <hr />
        </ng-container>

      </div>
    </div>
  </div>
  <div class="col-xl-9 p-0">
    <div class="section-wrapper">


      <h5>MENÇÕES AO VIVO</h5>
      <div class="row">
        <div class="col-xl-4">
          <h5>1-30</h5>
          <div class="list-wrapper">
            <ng-container *ngFor="let mention of mentionsList | slice:0:30;">
              <a [href]="mention.link" target="_blank">
                <div class="mention-wrapper my-4">
                  <img [src]="mention.autorFoto || 'assets/profile-default.png'" [alt]="'foto de '+mention.autor" />
                  <div class="mention-info">
                    <span><strong>@{{mention.autor}}</strong> {{mention.data | date:'dd/MM/yyyy - HH:mm':'GMT'}}</span>
                    <p>
                      {{mention.conteudo | truncate:[140] }}
                    </p>
                  </div>
                </div>
              </a>

              <hr />
            </ng-container>

          </div>
        </div>
        <div class="col-xl-4">
          <h5>31-60</h5>
          <div class="list-wrapper">
            <ng-container *ngFor="let mention of mentionsList | slice:30:60;">
              <a [href]="mention.link" target="_blank">
                <div class="mention-wrapper my-4">
                  <img [src]="mention.autorFoto || 'assets/profile-default.png'" [alt]="'foto de '+mention.autor" />
                  <div class="mention-info">
                    <span><strong>@{{mention.autor}}</strong> {{mention.data | date:'dd/MM/yyyy - HH:mm':'GMT'}}</span>
                    <p>
                      {{mention.conteudo | truncate:[140] }}
                    </p>
                  </div>
                </div>
              </a>
              <hr />
            </ng-container>
          </div>
        </div>
        <div class="col-xl-4">
          <h5>61-90</h5>
          <div class="list-wrapper">
            <ng-container *ngFor="let mention of mentionsList | slice:60:90;">
              <a [href]="mention.link" target="_blank">
                <div class="mention-wrapper my-4">
                  <img [src]="mention.autorFoto || 'assets/profile-default.png'" [alt]="'foto de '+mention.autor" />
                  <div class="mention-info">
                    <span><strong>@{{mention.autor}}</strong> {{mention.data | date:'dd/MM/yyyy - HH:mm':'GMT'}}</span>
                    <p>
                      {{mention.conteudo | truncate:[140] }}
                    </p>
                  </div>
                </div>
              </a>
              <hr />
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>