<h2>Menções ao vivo</h2>

<div class="row">
  <div class="col-xl-3">
    <h5>Publicações mais influentes</h5>
    <div class="list-wrapper">

      <ng-container>
        <div class="influencer-wrapper my-4">
          <img src="https://picsum.photos/75" alt="influencer-name" />
          <div class="influence-info">
            <div class="d-flex justify-content-between">
              <p>1728</p> | <p>Facebook</p>
            </div>
            <div clasas="d-flex">
              <fa-icon [icon]="faFacebook"></fa-icon>
              <fa-icon [icon]="faInstagram"></fa-icon>
              <fa-icon [icon]="faTwitter"></fa-icon>
              <fa-icon [icon]="faYoutube"></fa-icon>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
  <div class="col-xl-9 border-left">
    <h5>Últimas menções ({{mentionsList.length}})</h5>
    <div class="list-wrapper">

      <ng-container *ngFor="let mention of mentionsList">
        <a [href]="mention.link" target="_blank">
          <div class="mention-wrapper my-4">
            <img src="https://picsum.photos/75" alt="influencer-name" />
            <div class="mention-info">
              <span>{{mention.autor}} | {{mention.data | date:'dd/MM/yyyy - HH:mm':'GMT'}} </span>
              <p>
                {{mention.conteudo}}
              </p>
            </div>
          </div>
        </a>
      </ng-container>

    </div>
  </div>
</div>